<nav class="navbar px-4 pt-4" id="navbar">
    <div style="line-height: 7px;">
        <p class="text-white"><%= new Date().toDateString() %></p>
        <p class="fw-bold fs-5 welcome-mobile color-one">Hello, <%= user.username %></p>
    </div>
    <div class="navbar-nav align-items-center ms-auto dashboard-nav">
        <div class="nav-item dropdown">
            <a href="/update/profile" class="nav-link" title="profile">
                <img class="rounded-circle me-lg-2" src="/img/637884b0303b61668842672.jpeg" alt="" style="width: 40px; height: 40px;">
            </a>
        </div>
    </div>
</nav>