<footer class="shadow dashboard-footer">
    <div class="d-flex py-2 align-items-center justify-content-around bg-two content">
      <a href="/user/dashboard">
        <div class="d-flex flex-column align-items-center">
            <ion-icon name="home-outline"></ion-icon>
            <small>Dashboard</small>
        </div>
      </a>
      <a href="/history/withdrawals">
        <div class="d-flex flex-column align-items-center">
            <ion-icon name="time-outline"></ion-icon>
            <small>History</small>
        </div>
      </a>
      <a href="/place-withdrawal">
        <div class="d-flex flex-column align-items-center">
            <ion-icon name="card-outline"></ion-icon>
            <small>Withdraw</small>
        </div>
      </a>
      <button class="btn-more" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
        <div class="d-flex flex-column align-items-center">
            <ion-icon name="ellipsis-horizontal"></ion-icon>
            <small>More</small>
        </div>
      </button>
    </div>
</footer>