<nav class="mobile-menu-wrapper w-100 mt-15">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/terms">About Prime-tech</a></li>
        <li><a href="/couponcode/purchase">Buy Coupon</a></li>
        <li><a href="/top-earners">Top Earners</a></li>
        <li><a href="/couponcode/verify">Verify Coupon</a></li>
        <li><a href="/advert-posts">Advert Posts</a></li>
        <li><a href="/sponsored-posts">Sponsored Posts</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/policy">Policy</a></li>
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/register">Register</a></li>
    </ul>
</nav>