<footer class="footer mt-5 container-">
    <div class="footer-top">
        <div class="container">
            <div class="row gap-5">
                <div class="col-lg-4 col-md-6">
                    <div class="">
                        <a href="/" class="footer-logo"><img src="/img/logo (3).png" style="height: 100px; width: 100px;" class="logo" alt="logo"></a>
                        <p class="color- mt-30">Join the Prime-tech community and unlock a world of earning possibilities. Engage in diverse tasks, build your affiliate network, and transform your time into valuable rewards. Connect with us today and embark on your journey towards prosperity.</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="top">
                        <h5 class=" position-relative mb-3 text-dark">Quick Links</h5>
                        <ul class="">
                            <li><a href="/couponcode/purchase">Buy Coupon</a></li>
                            <li><a href="/couponcode/verify">Verify Coupon</a></li>
                            <li><a href="/top-earners">Top Earners</a></li>
                            <li><a href="/terms">Terms</a></li>
                            <li><a href="/policy">Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer-social top">
                        <h5 class="ft-subtitle position-relative d-inline-block text-dark">Follow us</h5>
                        <ul class="d-flex gap-4 mt-3">
                            <li><a href="#" target="_blank" class="media"><i class="fab fa-facebook-f fs-3"></i></a></li>
                            <li><a href="#"  target="_blank" class=""><i class="fab fa-telegram fs-3"></i></a></li>                                    
                            <li><a href="#"  target="_blank" class=""><i class="fab fa-tiktok fs-3"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
    <p class="mb-0 color-one text-center" style="font-size: 15px;">Copyright 2024 Prime-tech.</p>
    <hr class="mt-2">
    <div class="footer-copyright" style="margin-top: -6px; margin-bottom: -10px;">
        <div class="container text-center">
            <p class="mb- color-one" style="font-size: 15px;">All Rights Reserved</p>
            <!-- <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="copyright-txt text-white">
                        <p class="mb-0 color-one">Copyright 2024 Prime-tech. All Rights Reserved</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</footer>