<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles2.css">
    <script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
</head>
<body>

    <a href="#top" class="scroll"><button class="scrolltop-btn"><i class="fa-solid fa-angle-up"></i></button></a>
      
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <!-- <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5> -->

          <div class="d-flex align-items-center justify-content-center">
            <a href="/" class="logo-wrapper"><img src="img/logo (3).png" style="height: 70px; width: 80px;" alt="logo" class="logo logo-black"></a>
            <p class="fw-bold position-relative mt-3" style="color: #07DE0A;">PRIME-TECH</p>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
                
                <%- include('./partials/viewPagesMobileNav') %>
        </div>
      </div>

    
    <%- include('./partials/viewPagesHeader') %>

    <div class="hero position-relative" id="top">
        <div class="container py-5" style="height: auto !important;">
            <div class="row align-items-center justify-content-between" style="height: auto !important;">
                <div class="col-xxl-5 col-lg-6 col-md-9" style="height: auto !important;">
                    <div class="hm-affiliate-hero-left">
                        <p class="fw-bold" style="color: #07DE0A; margin-bottom: px;">PRIME-TECH</p>
                        <h1 class="display-5 fw-semibold text-dark fw-bold mb-3">Road To <span class="underline">Financial</span> Freedom</h1>
                        <p class="color-" style="font-size: 17px;">Welcome to Prime-tech, your thriving hub for affiliate success! Dive into a world where every small task becomes a rewarding opportunity. At Prime-tech, we've transformed business into prosperity. Our platform buzzes with activity as individuals like you engage in quick and fulfilling tasks that lead to tangible earnings.</p>
                        <a href="/user/register" class="btn btn-color text-white fw-bold mt-2 px-4 py-3 radius-two">Register</a>
                    </div>
                </div>
                <div class="hangover lg">
                    <img src="img/iPhone-12-Mini-.png" alt="mockup" class="mockup">
                </div>
            </div>
        </div>
    </div>
    <div class="mockup-div sm">
        <img src="img/iPhone-12-Mini-.png" alt="mockup" class="mockup-sm">
    </div>
    <br><br>

    <div class="container- mt-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4">
                    <div class="border round ps-5 pe-4 pt-5 pb-5">
                        <small>step 01</small>
                        <h5 class="mb-3 mt-2 fw-bold">Create an Account</h5>
                        <p class="">Purchase a coupon code from a verified vendor. Once you've purchased it, signup. </p>
                        <i class="fa-solid fa-user steps-icon"></i>
                        <div class="arrow-div"><i class="fa-solid fa-arrow-right"></i></div>           
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="border round ps-5 pe-4 pt-5 pb-5">
                        <small>step 02</small>
                        <h5 class="mb-3 mt-2 fw-bold">Explore Earning Opportunities</h5>
                        <p class="">Uncover a world of earning avenues within the Prime-tech ecosystem.</p>
                        <i class="fa-solid fa-building-columns steps-icon"></i>
                        <div class="arrow-div"><i class="fa-solid fa-arrow-right"></i></div>           
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="border round ps-5 pe-4 pt-5 pb-5">
                        <small>step 03</small>
                        <h5 class="mb-3 mt-2 fw-bold">Start Earning & Processing</h5>
                        <p>Start reaping your well-earned rewards as you progress. Enjoy timely disbursement of your earnings</p>
                        <i class="fa-solid fa-hand-holding-dollar steps-icon"></i>
                        <div class="arrow-div"><i class="fa-solid fa-arrow-right"></i></div>           
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="mt-5">
        <div class="container pt-5">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-5 col-md-10">
                    <div class="feature-img">
                        <img src="img/earning.jpeg" alt="server" class="img-fluid round2">
                    </div>
                </div>
                <div class="col-lg-6 col-md-11">
                    <div class="content-wrapper mt-5">
                        <h3 class="mb-3 text-dark fw-bold display-6">Empower Your Earning Journey with Prime-tech:</h3>
                        <p class="mb-40">Discover a world of boundless earning possibilities at Prime-tech. With our unique 3 Level Affiliate System and a diverse array of tasks, we offer unmatched avenues for you to thrive. Seamlessly convert your dedication into tangible rewards through our transparent payout process. Join a vibrant community of collaborators who share your ambition, and access valuable resources to enhance your earning potential. Elevate your earnings with Prime-tech – where opportunity, empowerment, and prosperity unite.</p>
                        <a href="/user/login" class="btn btn-color text-white fw-bold mt-4 px-4 py-3 radius-two">Login Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>
    <!-- <div class="mt-5">
        <div class="container pt-5">
            <h1 class="fw-bold display-5">Need Assistance? Our Support Team is Here to Help!</h1>
            <p>Whether you have questions about tasks, payouts, or navigating the platform, our dedicated support team is ready to assist you. We're here to ensure your Prime-tech experience is smooth and rewarding. Contact us for prompt and friendly support.</p>
            <a href="Login.html" class="btn btn-color text-white mt-4 px-4 py-3 radius-two">Join Community</a>
        </div>
    </div> -->

    <section class="mt-5">
        <div class="container pt-5">
            <div class="rounded px-5 py-5 check round2">
                <div class="row justify-content-between align-items-center px-2">
                    <div class="col-xxl-6 col-xl-7 col-lg-10">
                        <div class="aff-ft-support-left pt-70 pb-70">
                            <h3 class="text-white mb-3 fw-bold display-5">Need Assistance? Our Support Team is Here to Help!</h3>
                            <p class="text-white">Whether you have questions about tasks, payouts, or navigating the platform, our dedicated support team is ready to assist you. We're here to ensure your Prime-tech experience is smooth and rewarding. Contact us for prompt and friendly support.</p>
                            <a href="/user/login" class="btn btn-color fw-bold text-white mt-4 px-4 py-3 radius-two">Join Community</a>
                        </div>
                    </div>
                    <div class="col-xl-5 align-self-end">
                        <div class="feature-img">
                            <!-- <img src="img/assistant-removebg-preview.png" alt="not found" class="img-fluid"> -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>


    <div class="mt-5">
        <div class="container pt-5">
            <h1 class="fw-bold display-6 mb-4">Frequently Asked Questions</h1>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item border-top mb-3">
                <h2 class="accordion-header">
                  <button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    What is Prime-tech?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Prime-tech is an innovative platform that offers a diverse range of tasks designed to help you earn money online. From sharing content to participating in challenges, Prime-tech transforms your spare time into a rewarding opportunity.
                  </div>
                </div>
              </div>
              <div class="accordion-item border-top mb-3">
                <h2 class="accordion-header">
                  <button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How does Prime-tech work?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Prime-tech provides you with tasks tailored to your interests and skills. Complete these tasks, and you'll earn real rewards. Additionally, our 3 Level Affiliate System lets you earn from the activities of those you introduce to the platform.                  
                </div>
                </div>
              </div>
              <div class="accordion-item border-top mb-3">
                <h2 class="accordion-header">
                  <button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How do payouts work?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Payouts on Prime-tech are hassle-free and transparent. Once you've earned rewards, you can choose from various payout options, Payout portals are open on Mon, Thur and Fri 2pm - 4pm.                  
                    </div>
                </div>
              </div>
              <div class="accordion-item border-top mb-3">
                <h2 class="accordion-header">
                  <button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    Can I collaborate with others on Prime-tech?
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Absolutely! Prime-tech's community encourages collaboration. Connect with like-minded individuals, share insights, and learn from others as you collectively strive for financial growth.                    
                    </div>
                </div>
              </div>
              <div class="accordion-item border-top mb-3">
                <h2 class="accordion-header">
                  <button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                    Is Prime-tech available worldwide?
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Yes, Prime-tech is accessible globally. We welcome individuals from around the world to join our platform and start earning.                
                    </div>
                </div>
              </div>
              <div class="accordion-item border-top mb-3">
                <h2 class="accordion-header">
                  <button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                    How do I contact customer support if I have questions?
                  </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        If you have any questions or need assistance, our dedicated customer support team is here to help. You can reach out to us through our contact page, and we'll be glad to assist you.                
                    </div>
                </div>
              </div>
              <div class="accordion-item border-top mb-3">
                <h2 class="accordion-header">
                  <button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                    Can I change my payout method?
                  </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Yes, you can change your payout method at any time. Simply visit your account settings to update your preferred payout option.                
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <br><br><br>


    <%- include('./partials/viewPagesFooter') %>

    
    
    <script src="bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="js/script.js"></script> -->
</body>
</html>