<!DOCTYPE html>
<!-- saved from url=(0030)https://www.Prime-tech.net/about -->
<html lang="en" data-bs-theme="light"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--required meta tags-->
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--meta-->
   
    <!--title-->
    <title> Prime-tech || Terms</title>
    <link rel="shortcut icon" type="image/png" href="img/logo (3).png">

    <!--build:css-->
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles2.css">
    <script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
     <!-- endbuild -->

</head>

<body>

    <!--scrolltop button -->
    <a href="#top"><button class="scrolltop-btn"><i class="fa-solid fa-angle-up"></i></button></a>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <!-- <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5> -->

          <div class="d-flex align-items-center justify-content-center">
            <a href="/" class="logo-wrapper"><img src="img/logo (3).png" style="height: 70px; width: 80px;" alt="logo" class="logo logo-black"></a>
            <p class="fw-bold position-relative mt-3" style="color: #07DE0A;">PRIME-TECH</p>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
                
            <%- include('./partials/viewPagesMobileNav') %>
        </div>
    </div>

    
    <%- include('./partials/viewPagesHeader') %>


    <div class="container py-5">
                                    
        <div dir="auto"><strong><span style="font-size: 24px; font-family: Arial, Helvetica, sans-serif;">About us</span></strong></div>
<div dir="auto"><br></div>
<div dir="auto"><span style="font-family: Arial, Helvetica, sans-serif;">Prime-tech  is a Networking platform in which people are engaged with little task at which they earn after conclusion. The main aim of Prime-tech is to create a financial stability in the networking market.</span></div>
<div dir="auto"><br></div>
<div dir="auto"><span style="font-family: Arial, Helvetica, sans-serif;">Prime-tech operates as a dynamic affiliate platform, seamlessly connecting users through a sophisticated system that involves user engagement, code registration, and more. By facilitating a streamlined process, Prime-tech enables affiliates to efficiently navigate and utilize the platform, fostering collaboration and maximizing the potential for successful partnerships. From user onboarding to secure code registration, Prime-tech optimizes every step, ensuring a user-friendly experience while unlocking the full potential of the affiliate ecosystem.</span></div>

<div dir="auto"><span style="font-family: Arial, Helvetica, sans-serif;"><br></span></div>
<div dir="auto"><span style="font-family: Arial, Helvetica, sans-serif;">Prime-tech is an online platform that connects individuals with various opportunities to earn money online. It serves as a marketplace where businesses and individuals can collaborate on tasks, projects, and freelance work. The platform aims to empower individuals by providing them with a wide range of income giving them the opportunity to access graphics designing, video editing, WhatsApp Tv building, crypto trading, web development, Freelancing, CCTV installation, DSTV/Gotv subscriptions, data/airtime purchase and many more exciting features.</span></div>
<div dir="auto"><span style="font-family: Arial, Helvetica, sans-serif;"><br></span></div>
<div dir="auto"><span style="font-family: Arial, Helvetica, sans-serif;">Steps to Register on Prime-tech</span></div>
<div dir="auto"><span style="font-family: Arial, Helvetica, sans-serif;">&nbsp; &nbsp;&nbsp;1.&nbsp; &nbsp;&nbsp;Visit the Prime-tech.net website: Open your preferred web browser and go to&nbsp;<a href="/" target="_blank">Prime-tech</a>.</span></div>
<div dir="auto"><span style="font-family: Arial, Helvetica, sans-serif;">&nbsp; &nbsp;&nbsp;2.&nbsp; &nbsp;&nbsp;Sign up: Click on the “Sign Up” or “Register” button.</span></div>
<div dir="auto"><span style="font-family: Arial, Helvetica, sans-serif;">&nbsp; &nbsp;&nbsp;3.&nbsp; &nbsp;&nbsp;Provide your necessary details: Fill your required information, such as your full name, email address, phone number and password.</span></div>
<div dir="auto"><span style="font-family: Arial, Helvetica, sans-serif;">&nbsp; &nbsp;&nbsp;4.&nbsp; &nbsp;&nbsp;&nbsp; Once you’re done with Registrations you can browse through the available task and features available on the site.</span></div>
<!-- <div dir="auto"><span style="font-family: Arial, Helvetica, sans-serif;">&nbsp; &nbsp; 5. &nbsp; &nbsp;Payments: Upon completion, you will receive payment as per the agreed terms. Every user is open to receiving payments if the necessary are met. I.e, you’ve had the minimum amount for withdrawals. Payments therefore will commence immediately all withdrawals are done.</span></div> -->
        
        
         <div class="bd-blog-bottom mt-4">
            
       
     </div>
 </div>

 <%- include('./partials/viewPagesFooter') %>


     <!--build:js-->
    <script src="bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="js/script.js"></script> -->

    <!--endbuild-->

</body>
</html>