<!DOCTYPE html>
<!-- saved from url=(0030)https://Prime-tech.net/user/vtus -->
<html lang="en" data-theme="light"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Prime-tech">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title> Prime-tech || VTU History</title>
  <link rel="shortcut icon" type="image/png" href="/img/logo (3).png">
   
  <!-- Style CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
</head>

<body class="bg-one">

  
  <div class="d-flex">
  
    <div class="flex-right col-12 col-md-11">
        <!-- Navbar -->
      <%- include('./partials/dashboardPagesNav') %>
  
        <div class="overall-div center-div">
          <div class="container mt-3">

            <div class="px-3 pt-1">
                <h6 class="fw-bold text-white">VTU History</h6>
            </div>
            
            <div class="card-width mt-4">
              <div class="card-body p-2">
                  
                <!-- Single Notification -->
                <a href="#">
                  <div class="alert bg-gray radius-three" role="alert">
                    <i class="fa-regular fa-circle-check mt-0 color-one"></i>
                    <div class="alert-text w-75">
                      <h6 class="text-truncate text-danger">300</h6>
                      <p class="text-truncate">Game Gate-Fee</p>
                    </div>
                  </div>
                </a>

                <!-- Single Notification -->
                <a href="#">
                  <div class="alert bg-gray radius-three" role="alert">
                    <i class="fa-regular fa-circle-check mt-0 color-one"></i>
                    <div class="alert-text w-75">
                      <h6 class="text-truncate text-danger">300</h6>
                      <p class="text-truncate">Game Gate-Fee</p>
                    </div>
                  </div>
                </a>

                <!-- Single Notification -->
                <a href="#">
                  <div class="alert bg-gray radius-three" role="alert">
                    <i class="fa-regular fa-circle-check mt-0 color-one"></i>
                    <div class="alert-text w-75">
                      <h6 class="text-truncate text-danger">250</h6>
                      <p class="text-truncate">Game Gate-Fee</p>
                    </div>
                  </div>
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <div class="offcanvas offcanvas-bottom bg-one" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasBottomLabel">VTU History</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="bottom-nav">
        <ul>
          <li class="active-item mb-3">
            <a href="/vendor/dashboard"><ion-icon name="people-outline"></ion-icon><span>Vendor Dashboard</span></a>
          </li>
          <li class="active-item mb-3">
            <a href="/history/VTU"><ion-icon name="phone-portrait-outline"></ion-icon><span>VTU History</span></a>
          </li>
          <li class="active-item mb-3">
            <a href="/registration/p2p"><ion-icon name="person-add-outline"></ion-icon><span>P2P Registration</span></a>
          </li>
          <li class="active-item mb-3">
            <a href="/downlines"><ion-icon name="people-outline"></ion-icon><span>Downlines</span></a>
          </li>
          <li class="active-item mb-3">
              <a href="/game"><ion-icon name="game-controller-outline"></ion-icon><span>Game</span></a>
            </li>
        </ul>
      </div>
    </div>
</div>

<%- include('./partials/dashboardPagesFooterSection') %>
  
 
  <script src="/js/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script>
    "use strict";
    function notify(status,message) {
        iziToast[status]({
            message: message,
            position: "topRight"
        });
    }
</script>


  <!-- All JavaScript Files -->
  <script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
  <script src="dark-rtl.js.download"></script>


</body>
</html>